In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv('best_fit.xls')

In [6]:
data.drop(['Unnamed: 0','sss'],axis = 1,inplace = True)

In [7]:
data.head()

,Product_Weight,Product_Shelf_Visibility,Product_Price,Supermarket_Opening_Year,Supermarket _Size,Product_Supermarket_Sales,Low Fat,Normal Fat,Ultra Low fat,Cluster 1,...,Fruits and Vegetables,Hard Drinks,Health and Hygiene,Household,Meat,Others,Seafood,Snack Foods,Soft Drinks,Starchy Foods
0,11.6,0.068535,357.54,2005,1.0,709.08,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,11.6,0.040912,355.79,1994,2.0,6381.69,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,11.6,0.041178,350.79,2014,1.0,6381.69,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,11.6,0.041113,355.04,2016,1.0,2127.23,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,11.6,0.000000,354.79,2011,0.0,2481.77,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0

In [8]:
data['fee'] = data['Product_Price'] - data['Product_Weight']

In [9]:
data.head()

,Product_Weight,Product_Shelf_Visibility,Product_Price,Supermarket_Opening_Year,Supermarket _Size,Product_Supermarket_Sales,Low Fat,Normal Fat,Ultra Low fat,Cluster 1,...,Hard Drinks,Health and Hygiene,Household,Meat,Others,Seafood,Snack Foods,Soft Drinks,Starchy Foods,fee
0,11.6,0.068535,357.54,2005,1.0,709.08,1,0,0,0,...,0,0,0,0,0,0,0,1,0,345.94
1,11.6,0.040912,355.79,1994,2.0,6381.69,1,0,0,0,...,0,0,0,0,0,0,0,1,0,344.19
2,11.6,0.041178,350.79,2014,1.0,6381.69,1,0,0,0,...,0,0,0,0,0,0,0,1,0,339.19
3,11.6,0.041113,355.04,2016,1.0,2127.23,1,0,0,0,...,0,0,0,0,0,0,0,1,0,343.44
4,11.6,0.000000,354.79,2011,0.0,2481.77,0,0,1,0,...,0,0,0,0,0,0,0,1,0,343.19

In [25]:
ss = data.Product_Price.apply(np.ceil)

In [28]:
mm = data.Product_Weight.apply(np.ceil)

In [46]:
ss = pd.DataFrame({'ss': ss})

In [48]:
mm = pd.DataFrame({'mm': mm})

In [49]:
data = pd.concat([data,ss,mm], axis = 1)

In [50]:
data.head()

,Product_Weight,Product_Shelf_Visibility,Product_Price,Supermarket_Opening_Year,Supermarket _Size,Product_Supermarket_Sales,Low Fat,Normal Fat,Ultra Low fat,Cluster 1,...,Household,Meat,Others,Seafood,Snack Foods,Soft Drinks,Starchy Foods,fee,ss,mm
0,11.6,0.068535,357.54,2005,1.0,709.08,1,0,0,0,...,0,0,0,0,0,1,0,345.94,358.0,12.0
1,11.6,0.040912,355.79,1994,2.0,6381.69,1,0,0,0,...,0,0,0,0,0,1,0,344.19,356.0,12.0
2,11.6,0.041178,350.79,2014,1.0,6381.69,1,0,0,0,...,0,0,0,0,0,1,0,339.19,351.0,12.0
3,11.6,0.041113,355.04,2016,1.0,2127.23,1,0,0,0,...,0,0,0,0,0,1,0,343.44,356.0,12.0
4,11.6,0.000000,354.79,2011,0.0,2481.77,0,0,1,0,...,0,0,0,0,0,1,0,343.19,355.0,12.0

In [51]:
data['first'] = data['mm'] - data['Product_Weight']

In [52]:
data['second'] = data['ss'] - data['Product_Price']

In [53]:
data.head()

,Product_Weight,Product_Shelf_Visibility,Product_Price,Supermarket_Opening_Year,Supermarket _Size,Product_Supermarket_Sales,Low Fat,Normal Fat,Ultra Low fat,Cluster 1,...,Others,Seafood,Snack Foods,Soft Drinks,Starchy Foods,fee,ss,mm,first,second
0,11.6,0.068535,357.54,2005,1.0,709.08,1,0,0,0,...,0,0,0,1,0,345.94,358.0,12.0,0.4,0.46
1,11.6,0.040912,355.79,1994,2.0,6381.69,1,0,0,0,...,0,0,0,1,0,344.19,356.0,12.0,0.4,0.21
2,11.6,0.041178,350.79,2014,1.0,6381.69,1,0,0,0,...,0,0,0,1,0,339.19,351.0,12.0,0.4,0.21
3,11.6,0.041113,355.04,2016,1.0,2127.23,1,0,0,0,...,0,0,0,1,0,343.44,356.0,12.0,0.4,0.96
4,11.6,0.000000,354.79,2011,0.0,2481.77,0,0,1,0,...,0,0,0,1,0,343.19,355.0,12.0,0.4,0.21

In [54]:
data.drop(['ss','mm'],axis = 1,inplace = True)

In [55]:
data.head()

,Product_Weight,Product_Shelf_Visibility,Product_Price,Supermarket_Opening_Year,Supermarket _Size,Product_Supermarket_Sales,Low Fat,Normal Fat,Ultra Low fat,Cluster 1,...,Household,Meat,Others,Seafood,Snack Foods,Soft Drinks,Starchy Foods,fee,first,second
0,11.6,0.068535,357.54,2005,1.0,709.08,1,0,0,0,...,0,0,0,0,0,1,0,345.94,0.4,0.46
1,11.6,0.040912,355.79,1994,2.0,6381.69,1,0,0,0,...,0,0,0,0,0,1,0,344.19,0.4,0.21
2,11.6,0.041178,350.79,2014,1.0,6381.69,1,0,0,0,...,0,0,0,0,0,1,0,339.19,0.4,0.21
3,11.6,0.041113,355.04,2016,1.0,2127.23,1,0,0,0,...,0,0,0,0,0,1,0,343.44,0.4,0.96
4,11.6,0.000000,354.79,2011,0.0,2481.77,0,0,1,0,...,0,0,0,0,0,1,0,343.19,0.4,0.21

In [56]:
X = data.drop('Product_Supermarket_Sales',axis =1)

In [57]:
y = data['Product_Supermarket_Sales']

In [59]:
from sklearn.cross_validation import train_test_split

In [60]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [61]:
from sklearn.linear_model import LinearRegression

In [62]:
model = LinearRegression()

In [63]:
model.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [64]:
predic = model.predict(X_test)

In [65]:
from sklearn.cross_validation import cross_val_score

In [66]:
scores = cross_val_score(model,X_test,y_test,cv =10)

In [67]:
print(scores.mean()*100)

53.24494100045884