In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
test = pd.read_csv('test_fresh.xls')

In [4]:
test.drop(['Product_Supermarket_Identifier','Product_Identifier','Supermarket_Identifier'], axis =1, inplace = True)

In [5]:
train_test_split = [test]
supermarket_size = {'High': 2,'Medium': 1,'Small':0}
for dataset in train_test_split:
    dataset['Supermarket _Size'] =dataset['Supermarket _Size'].map(supermarket_size)

In [6]:
test.isnull().sum()

Product_Weight               661
Product_Fat_Content            0
Product_Shelf_Visibility       0
Product_Type                   0
Product_Price                  0
Supermarket_Opening_Year       0
Supermarket _Size            959
Supermarket_Location_Type      0
Supermarket_Type               0
dtype: int64

In [8]:
test['Product_Weight'].fillna(test.groupby('Product_Fat_Content')['Product_Weight'].transform('mean'), inplace = True)

In [11]:
test['Supermarket _Size'].fillna(test.groupby('Product_Type')['Supermarket _Size'].transform('median'), inplace = True)

In [13]:
dum1 = pd.get_dummies(test['Product_Fat_Content'])
dum2 = pd.get_dummies(test['Supermarket_Location_Type'])
dum3 = pd.get_dummies(test['Supermarket_Type'])
dum4 = pd.get_dummies(test['Product_Type'])

In [14]:
test = pd.concat([test,dum1,dum2,dum3,dum4],axis = 1)

In [15]:
test.head()

,Product_Weight,Product_Fat_Content,Product_Shelf_Visibility,Product_Type,Product_Price,Supermarket_Opening_Year,Supermarket _Size,Supermarket_Location_Type,Supermarket_Type,Low Fat,...,Fruits and Vegetables,Hard Drinks,Health and Hygiene,Household,Meat,Others,Seafood,Snack Foods,Soft Drinks,Starchy Foods
0,8.270,Normal Fat,0.214125,Soft Drinks,459.98,2005,1.0,Cluster 3,Grocery Store,0,...,0,0,0,0,0,0,0,0,1,0
1,8.270,Normal Fat,0.127821,Soft Drinks,464.98,1994,2.0,Cluster 3,Supermarket Type1,0,...,0,0,0,0,0,0,0,0,1,0
2,7.390,Low Fat,0.082171,Soft Drinks,477.38,1994,2.0,Cluster 3,Supermarket Type1,1,...,0,0,0,0,0,0,0,0,1,0
3,6.115,Normal Fat,0.011791,Soft Drinks,472.63,2005,1.0,Cluster 3,Grocery Store,0,...,0,0,0,0,0,0,0,0,1,0
4,6.115,Normal Fat,0.007038,Soft Drinks,473.13,1994,2.0,Cluster 3,Supermarket Type1,0,...,0,0,0,0,0,0,0,0,1,0

In [19]:
test.drop(['Product_Fat_Content','Product_Type','Supermarket_Location_Type','Supermarket_Type'], axis =1 , inplace = True)

In [20]:
data = pd.read_csv('train_fresh.xls')

In [21]:
data.head(1)

,Product_Identifier,Supermarket_Identifier,Product_Supermarket_Identifier,Product_Weight,Product_Fat_Content,Product_Shelf_Visibility,Product_Type,Product_Price,Supermarket_Opening_Year,Supermarket _Size,Supermarket_Location_Type,Supermarket_Type,Product_Supermarket_Sales
0,DRA12,CHUKWUDI010,DRA12_CHUKWUDI010,11.6,Low Fat,0.068535,Soft Drinks,357.54,2005,NaN,Cluster 3,Grocery Store,709.08

In [22]:
test['sss'] = data['Product_Supermarket_Sales'] - test['Product_Price']

In [24]:
test.head()

,Product_Weight,Product_Shelf_Visibility,Product_Price,Supermarket_Opening_Year,Supermarket _Size,Low Fat,Normal Fat,Ultra Low fat,Cluster 1,Cluster 2,...,Hard Drinks,Health and Hygiene,Household,Meat,Others,Seafood,Snack Foods,Soft Drinks,Starchy Foods,sss
0,8.270,0.214125,459.98,2005,1.0,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,249.10
1,8.270,0.127821,464.98,1994,2.0,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,5916.71
2,7.390,0.082171,477.38,1994,2.0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,5904.31
3,6.115,0.011791,472.63,2005,1.0,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,1654.60
4,6.115,0.007038,473.13,1994,2.0,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,2008.64

In [25]:
test.to_csv('te_fit.xls')