In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [2]:
%matplotlib inline

In [3]:
test = pd.read_csv('comedy_test.csv')

In [4]:
test.head()

  Viewers_ID   Joke_identifier          Response_ID
0         A1  Akpororo Lagos 1  A1_Akpororo Lagos 1
1         A1  Akpororo Abuja 1  A1_Akpororo Abuja 1
2         A1  Akpororo Abuja 5  A1_Akpororo Abuja 5
3         A1  I Go Dye Benin 1  A1_I Go Dye Benin 1
4         A1  I Go Dye Benin 3  A1_I Go Dye Benin 3

In [5]:
test['length'] = test['Joke_identifier'].apply(len)
test['length1'] = test['Response_ID'].apply(len)

In [6]:
test['d'] = test['Viewers_ID'].astype(str)
test['d'] =  test['d'].apply(lambda x : x.split('A')[1])

In [7]:
test['e'] = test['Response_ID'].astype(str)
test['e'] = test['e'].apply(lambda x: x[-1:])

In [8]:
test.drop(['Viewers_ID','Joke_identifier','Response_ID'],axis =  1,inplace = True)

In [9]:
test.drop('e',axis =1 , inplace = True)

In [10]:
test.head()

   length  length1  d
0      16       19  1
1      16       19  1
2      16       19  1
3      16       19  1
4      16       19  1

In [11]:
test.to_csv('japaa.csv')