In [1]:
import numpy as np
import pandas as pd

In [3]:
pd.DataFrame(np.arange(1,26).reshape(5,5),['A','B','C','D','E'],['f','h','j','k','k'])

    f   h   j   k   k
A   1   2   3   4   5
B   6   7   8   9  10
C  11  12  13  14  15
D  16  17  18  19  20
E  21  22  23  24  25

In [5]:
inside = ['G1','G1','G2','G2']
outside = [1,2,3,4]

In [ ]:
list_ind = list(zip(inside,outside))