In [1]:
import numpy as np
import pandas as pd

In [41]:
inside = ['A','A','B','B']
outside = [1,2,1,2]
heir_in = list(zip(inside,outside))
heir_in = pd.MultiIndex.from_tuples(heir_in)
from numpy import random as rd

In [42]:
df = pd.DataFrame(rd.randn(4,2),heir_in,['A','B'])

In [43]:
df

            A         B
A 1  0.361853 -0.883453
  2  1.143473 -0.440847
B 1 -0.365442 -0.223910
  2 -0.552458  0.337476

In [44]:
df.xs('A')

          A         B
1  0.361853 -0.883453
2  1.143473 -0.440847

In [24]:
heir_in

               F         G         H
(A, 1) -0.179465  0.026859  1.273733
(A, 2)  0.312302 -0.966520 -2.492714
(A, 3) -0.596261  1.238975  0.557442
(B, 1) -1.521951  2.090660  1.594443
(B, 2) -1.064910  0.938935  1.441802
(B, 3) -0.031594 -0.315663 -1.078079

In [45]:
d = {'Á':[1,2,np.nan],'B':[5,np.nan,np.nan]}

In [46]:
pd.DataFrame(d)

     B    Á
0  5.0  1.0
1  NaN  2.0
2  NaN  NaN

In [ ]:
from sqlalchemy import