In [ ]:
import pandas as pd
import pandas as pd

In [ ]:
pd.read_csv('salaries')

In [ ]:
df.head(2)

In [ ]:
df['BasePay']

In [ ]:
df

In [12]:
df.head(2)

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411,0,400184,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966,245132,137811,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN

In [14]:
df['BasePay'].mean()

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [ ]:
df

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('Salaries.csv')

In [ ]:
df