In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('comedy.csv')

In [3]:
df.head()

  Viewers_ID         Joke_identifier                Response_ID  Rating
0         A1  Klint De Drunk Enugu 1  A1_Klint De Drunk Enugu 1    0.11
1         A1  Klint De Drunk Enugu 2  A1_Klint De Drunk Enugu 2   -4.64
2         A1     Klint De Drunk PH 1     A1_Klint De Drunk PH 1   -3.39
3         A1     Klint De Drunk PH 2     A1_Klint De Drunk PH 2    0.44
4         A1  Klint De Drunk Lagos 1  A1_Klint De Drunk Lagos 1   -4.83

In [4]:
import matplotlib.pyplot as plt

In [5]:
import seaborn as sns

In [6]:
%matplotlib inline

In [7]:
df.groupby('Viewers_ID')['Rating'].count().sort_values(ascending=False).head()

Viewers_ID
A366    54
A367    54
A337    54
A233    54
A179    54
Name: Rating, dtype: int64