In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
test = pd.read_csv('test_fresh.xls')

In [3]:
test['Product_Weight'].fillna(test.groupby('Product_Fat_Content')['Product_Weight'].transform('mean'), inplace = True)

In [5]:
train_test_split = [test]
supermarket_size = {'High': 2,'Medium': 1,'Small':0}
for dataset in train_test_split:
    dataset['Supermarket _Size'] =dataset['Supermarket _Size'].map(supermarket_size)

In [6]:
test['Supermarket _Size'].fillna(test.groupby('Product_Type')['Supermarket _Size'].transform('median'), inplace = True)

In [8]:
test.head()

,Product_Identifier,Supermarket_Identifier,Product_Supermarket_Identifier,Product_Weight,Product_Fat_Content,Product_Shelf_Visibility,Product_Type,Product_Price,Supermarket_Opening_Year,Supermarket _Size,Supermarket_Location_Type,Supermarket_Type
0,DRA59,CHUKWUDI010,DRA59_CHUKWUDI010,8.270,Normal Fat,0.214125,Soft Drinks,459.98,2005,1.0,Cluster 3,Grocery Store
1,DRA59,CHUKWUDI013,DRA59_CHUKWUDI013,8.270,Normal Fat,0.127821,Soft Drinks,464.98,1994,2.0,Cluster 3,Supermarket Type1
2,DRB01,CHUKWUDI013,DRB01_CHUKWUDI013,7.390,Low Fat,0.082171,Soft Drinks,477.38,1994,2.0,Cluster 3,Supermarket Type1
3,DRB13,CHUKWUDI010,DRB13_CHUKWUDI010,6.115,Normal Fat,0.011791,Soft Drinks,472.63,2005,1.0,Cluster 3,Grocery Store
4,DRB13,CHUKWUDI013,DRB13_CHUKWUDI013,6.115,Normal Fat,0.007038,Soft Drinks,473.13,1994,2.0,Cluster 3,Supermarket Type1

In [9]:
test['f'] = test.Product_Weight.astype(object)

In [10]:
test.head()

,Product_Identifier,Supermarket_Identifier,Product_Supermarket_Identifier,Product_Weight,Product_Fat_Content,Product_Shelf_Visibility,Product_Type,Product_Price,Supermarket_Opening_Year,Supermarket _Size,Supermarket_Location_Type,Supermarket_Type,f
0,DRA59,CHUKWUDI010,DRA59_CHUKWUDI010,8.270,Normal Fat,0.214125,Soft Drinks,459.98,2005,1.0,Cluster 3,Grocery Store,8.27
1,DRA59,CHUKWUDI013,DRA59_CHUKWUDI013,8.270,Normal Fat,0.127821,Soft Drinks,464.98,1994,2.0,Cluster 3,Supermarket Type1,8.27
2,DRB01,CHUKWUDI013,DRB01_CHUKWUDI013,7.390,Low Fat,0.082171,Soft Drinks,477.38,1994,2.0,Cluster 3,Supermarket Type1,7.39
3,DRB13,CHUKWUDI010,DRB13_CHUKWUDI010,6.115,Normal Fat,0.011791,Soft Drinks,472.63,2005,1.0,Cluster 3,Grocery Store,6.115
4,DRB13,CHUKWUDI013,DRB13_CHUKWUDI013,6.115,Normal Fat,0.007038,Soft Drinks,473.13,1994,2.0,Cluster 3,Supermarket Type1,6.115

In [13]:
test['f'] = test['f'].astype(str)

In [14]:
test['f'] = test['f'].apply(lambda x: x.split('.')[0])

In [15]:
test.head()

,Product_Identifier,Supermarket_Identifier,Product_Supermarket_Identifier,Product_Weight,Product_Fat_Content,Product_Shelf_Visibility,Product_Type,Product_Price,Supermarket_Opening_Year,Supermarket _Size,Supermarket_Location_Type,Supermarket_Type,f
0,DRA59,CHUKWUDI010,DRA59_CHUKWUDI010,8.270,Normal Fat,0.214125,Soft Drinks,459.98,2005,1.0,Cluster 3,Grocery Store,8
1,DRA59,CHUKWUDI013,DRA59_CHUKWUDI013,8.270,Normal Fat,0.127821,Soft Drinks,464.98,1994,2.0,Cluster 3,Supermarket Type1,8
2,DRB01,CHUKWUDI013,DRB01_CHUKWUDI013,7.390,Low Fat,0.082171,Soft Drinks,477.38,1994,2.0,Cluster 3,Supermarket Type1,7
3,DRB13,CHUKWUDI010,DRB13_CHUKWUDI010,6.115,Normal Fat,0.011791,Soft Drinks,472.63,2005,1.0,Cluster 3,Grocery Store,6
4,DRB13,CHUKWUDI013,DRB13_CHUKWUDI013,6.115,Normal Fat,0.007038,Soft Drinks,473.13,1994,2.0,Cluster 3,Supermarket Type1,6

In [18]:
test['f'] = test['f'].astype(float)

In [19]:
test['b'] =  test['Product_Weight'] - test['f']

In [20]:
test.head()

,Product_Identifier,Supermarket_Identifier,Product_Supermarket_Identifier,Product_Weight,Product_Fat_Content,Product_Shelf_Visibility,Product_Type,Product_Price,Supermarket_Opening_Year,Supermarket _Size,Supermarket_Location_Type,Supermarket_Type,f,b
0,DRA59,CHUKWUDI010,DRA59_CHUKWUDI010,8.270,Normal Fat,0.214125,Soft Drinks,459.98,2005,1.0,Cluster 3,Grocery Store,8.0,0.270
1,DRA59,CHUKWUDI013,DRA59_CHUKWUDI013,8.270,Normal Fat,0.127821,Soft Drinks,464.98,1994,2.0,Cluster 3,Supermarket Type1,8.0,0.270
2,DRB01,CHUKWUDI013,DRB01_CHUKWUDI013,7.390,Low Fat,0.082171,Soft Drinks,477.38,1994,2.0,Cluster 3,Supermarket Type1,7.0,0.390
3,DRB13,CHUKWUDI010,DRB13_CHUKWUDI010,6.115,Normal Fat,0.011791,Soft Drinks,472.63,2005,1.0,Cluster 3,Grocery Store,6.0,0.115
4,DRB13,CHUKWUDI013,DRB13_CHUKWUDI013,6.115,Normal Fat,0.007038,Soft Drinks,473.13,1994,2.0,Cluster 3,Supermarket Type1,6.0,0.115

In [22]:
test.drop(['Product_Supermarket_Identifier','Product_Identifier','Supermarket_Identifier','f'], axis =1, inplace = True)

In [23]:
test.head()

,Product_Weight,Product_Fat_Content,Product_Shelf_Visibility,Product_Type,Product_Price,Supermarket_Opening_Year,Supermarket _Size,Supermarket_Location_Type,Supermarket_Type,b
0,8.270,Normal Fat,0.214125,Soft Drinks,459.98,2005,1.0,Cluster 3,Grocery Store,0.270
1,8.270,Normal Fat,0.127821,Soft Drinks,464.98,1994,2.0,Cluster 3,Supermarket Type1,0.270
2,7.390,Low Fat,0.082171,Soft Drinks,477.38,1994,2.0,Cluster 3,Supermarket Type1,0.390
3,6.115,Normal Fat,0.011791,Soft Drinks,472.63,2005,1.0,Cluster 3,Grocery Store,0.115
4,6.115,Normal Fat,0.007038,Soft Drinks,473.13,1994,2.0,Cluster 3,Supermarket Type1,0.115

In [24]:
test['a'] = test['Product_Price'].astype(str)

In [25]:
test['f'] = test['a'].apply(lambda x: x.split('.')[0])

In [26]:
test.head()

,Product_Weight,Product_Fat_Content,Product_Shelf_Visibility,Product_Type,Product_Price,Supermarket_Opening_Year,Supermarket _Size,Supermarket_Location_Type,Supermarket_Type,b,a,f
0,8.270,Normal Fat,0.214125,Soft Drinks,459.98,2005,1.0,Cluster 3,Grocery Store,0.270,459.98,459
1,8.270,Normal Fat,0.127821,Soft Drinks,464.98,1994,2.0,Cluster 3,Supermarket Type1,0.270,464.98,464
2,7.390,Low Fat,0.082171,Soft Drinks,477.38,1994,2.0,Cluster 3,Supermarket Type1,0.390,477.38,477
3,6.115,Normal Fat,0.011791,Soft Drinks,472.63,2005,1.0,Cluster 3,Grocery Store,0.115,472.63,472
4,6.115,Normal Fat,0.007038,Soft Drinks,473.13,1994,2.0,Cluster 3,Supermarket Type1,0.115,473.13,473

In [27]:
test['f'] = test['f'].astype(float)

In [28]:
test['d'] =  test['Product_Price'] - test['f']

In [29]:
test.head()

,Product_Weight,Product_Fat_Content,Product_Shelf_Visibility,Product_Type,Product_Price,Supermarket_Opening_Year,Supermarket _Size,Supermarket_Location_Type,Supermarket_Type,b,a,f,d
0,8.270,Normal Fat,0.214125,Soft Drinks,459.98,2005,1.0,Cluster 3,Grocery Store,0.270,459.98,459.0,0.98
1,8.270,Normal Fat,0.127821,Soft Drinks,464.98,1994,2.0,Cluster 3,Supermarket Type1,0.270,464.98,464.0,0.98
2,7.390,Low Fat,0.082171,Soft Drinks,477.38,1994,2.0,Cluster 3,Supermarket Type1,0.390,477.38,477.0,0.38
3,6.115,Normal Fat,0.011791,Soft Drinks,472.63,2005,1.0,Cluster 3,Grocery Store,0.115,472.63,472.0,0.63
4,6.115,Normal Fat,0.007038,Soft Drinks,473.13,1994,2.0,Cluster 3,Supermarket Type1,0.115,473.13,473.0,0.13

In [30]:
test.drop(['a','f'],axis = 1, inplace = True)

In [31]:
test.head()

,Product_Weight,Product_Fat_Content,Product_Shelf_Visibility,Product_Type,Product_Price,Supermarket_Opening_Year,Supermarket _Size,Supermarket_Location_Type,Supermarket_Type,b,d
0,8.270,Normal Fat,0.214125,Soft Drinks,459.98,2005,1.0,Cluster 3,Grocery Store,0.270,0.98
1,8.270,Normal Fat,0.127821,Soft Drinks,464.98,1994,2.0,Cluster 3,Supermarket Type1,0.270,0.98
2,7.390,Low Fat,0.082171,Soft Drinks,477.38,1994,2.0,Cluster 3,Supermarket Type1,0.390,0.38
3,6.115,Normal Fat,0.011791,Soft Drinks,472.63,2005,1.0,Cluster 3,Grocery Store,0.115,0.63
4,6.115,Normal Fat,0.007038,Soft Drinks,473.13,1994,2.0,Cluster 3,Supermarket Type1,0.115,0.13

In [32]:
dumm1 = pd.get_dummies(test['Product_Fat_Content'])
dumm2 = pd.get_dummies(test['Supermarket_Location_Type'])
dumm3 = pd.get_dummies(test['Supermarket_Type'])

In [34]:
test.drop(['Supermarket_Location_Type','Product_Fat_Content','Supermarket_Type','Product_Type'],axis = 1, inplace = True)

In [35]:
test.head()

,Product_Weight,Product_Shelf_Visibility,Product_Price,Supermarket_Opening_Year,Supermarket _Size,b,d
0,8.270,0.214125,459.98,2005,1.0,0.270,0.98
1,8.270,0.127821,464.98,1994,2.0,0.270,0.98
2,7.390,0.082171,477.38,1994,2.0,0.390,0.38
3,6.115,0.011791,472.63,2005,1.0,0.115,0.63
4,6.115,0.007038,473.13,1994,2.0,0.115,0.13

In [36]:
test = pd.concat([test,dumm1,dumm2,dumm3],axis = 1)

In [37]:
test.head()

,Product_Weight,Product_Shelf_Visibility,Product_Price,Supermarket_Opening_Year,Supermarket _Size,b,d,Low Fat,Normal Fat,Ultra Low fat,Cluster 1,Cluster 2,Cluster 3,Grocery Store,Supermarket Type1,Supermarket Type2,Supermarket Type3
0,8.270,0.214125,459.98,2005,1.0,0.270,0.98,0,1,0,0,0,1,1,0,0,0
1,8.270,0.127821,464.98,1994,2.0,0.270,0.98,0,1,0,0,0,1,0,1,0,0
2,7.390,0.082171,477.38,1994,2.0,0.390,0.38,1,0,0,0,0,1,0,1,0,0
3,6.115,0.011791,472.63,2005,1.0,0.115,0.63,0,1,0,0,0,1,1,0,0,0
4,6.115,0.007038,473.13,1994,2.0,0.115,0.13,0,1,0,0,0,1,0,1,0,0

In [38]:
test.to_csv('gbefun.csv')